<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
    <meta name="description" content="<%- site.customConfig.metaDescription || themeConfig.siteDescription %>" />
  </head>
  <body>
    <div class="main">
      <div class="main-content">
        请按 `Command（Mac） 或 Ctrl(Windows) + ，` 打开设置页，进行源文件夹设置后使用。
      </div>
    </div>
  </body>
</html>
