head
  title= website.title
  link(rel='stylesheet', href=`${domain}/css/main.css`)
  link(rel='stylesheet', href='https://cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css')
  link(rel='stylesheet', href='https://imsun.github.io/gitment/style/default.css')
  script(src='https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js')
  script(src='https://imsun.github.io/gitment/dist/gitment.browser.js')