<div class="site-footer">
  <%- themeConfig.footerInfo %> | 
  <a class="rss" href="<%= themeConfig.domain %>/atom.xml" target="_blank">RSS</a>
</div>

<script>
  hljs.initHighlightingOnLoad()
</script>
