<div class="pagination-container">
  <% if (pagination.prev) { %>
    <a href="<%= pagination.prev %>" class="prev-page">上一页</a>
  <% } %>
  <% if (pagination.next) { %>
    <a href="<%= pagination.next %>" class="prev-page">下一页</a>
  <% } %>
</div>
