@import './lib/normalize'
*,
*:before,
*:after
  margin: 0
  padding: 0
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  font-size: 100%
  border: 0
  font: inherit
  vertical-align: baseline
html
  font-size: 58%
body
  font-family: -apple-system, BlinkMacSystemFont, opensans, Optima, 'Microsoft Yahei', sans-serif
  font-size: 1.2em
  color: #333
  background: #fdfdfd
a
  color: #333
  text-decoration: none
ul li
  list-style: none
body, div, a, p, ul, li, ol, h1, h2, h3, h4, h5, h6, table, tr, td
  font-weight: normal
  box-sizing: border-box
  margin: 0
  padding: 0

@import './components/menu'
@import './components/post'
@import './components/home'

.container
  margin-left: 38.2%
  padding: 5em
  max-width: 61.8%
  width: calc(100% - 38.2%)
  @media (max-width: 900px)
    margin-left: 0
    max-width: 100%
    width: 100%
    padding: 2em
  
@import './lib/github.css'