.site-header
  padding: 48px 0
  text-align: center

  .site-title
    font-size: 32px

  .site-description
    font-size: 20px
    padding: 24px

  .menu-container
    display: flex
    justify-content: center

    a.menu
      font-size: 18px
      padding: 8px 16px
