.archives-container {
  padding: 32px;
  flex: 1;
  .year {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    color: @dark-main-color;
  }
  .post {
    padding: 16px 0;
    .post-title {
      font-size: 16px;
      small {
        font-size: 80%;
      }
    }
  }
}

@media (max-width: 600px) {
  .archives-container {
    padding: 16px;
  }
}