article
  padding-top: 2em
  padding-bottom: 3.5em
  h2
    font-size: 26px
    line-height: 1.35
  p
    margin: 1em 0
    font-size: 1.85rem
    line-height: 1.625
    letter-spacing: 0.35px
    color: #555
  .footer
    color: #888
    font-size: 1.4rem
    line-height: 24px
    display: flex
    justify-content: space-between
    .tag-container
      span
        margin-left: 1em
        background: #f5f5f5
        outline: 0
        display: inline-block
        float: left;
        padding: 0 10px
        margin-left: 1em
        background-color: #f5f5f5
        border-radius: 2px
        color: #999
        font-size: 12px
        line-height: 24px
        cursor: pointer
.pagination
  margin: 2em auto
  display: flex
  justify-content: space-between
  a
    display: inline-block
    padding: 1em 2em
    color: #888
    font-size: 1.5rem
    box-shadow: 0 0 15px #eee
    border-radius: 5px
    transition: all 0.3s
    &:hover
      background: #eee

