@import '../lib/var'

.post-container
  header
        margin-bottom: 3em
    .post-title
      font-size: 4rem
      line-height: 1.5
      margin-bottom: 0.5em
    .create-date
        color: #888
        font-size: 1.4rem
  .post-content
    h2
      font-size: 2.6rem
      margin: 2em 0 1em
    h3
      font-size: 2.2rem
      margin: 1em 0
    p
      font-size: 1.85rem
      line-height: 1.725
      margin-bottom: 2rem
      code
        padding: 0 3px
        margin: 0 2px
        background: rgba(195, 195, 195, 0.41)
        font-size: 0.9em
        border-radius: 2px
    a
      color: $e-red
      border-bottom: 1px dotted $e-red
    img
      display: block
      box-shadow: 0 0 30px #eee
      max-width: 94%
      border-radius: 5px
      margin: 1.5em auto
    blockquote
      border-left: 2px solid $e-red
      padding: 10px 20px
      background: #f1f1f1
      margin-bottom: 2rem
      p:last-child,
      ul:last-child,
      ol:last-child
        margin-bottom: 0
    pre
      margin-bottom: 20px
      code
        font-size: 1.6rem
        font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace
        padding: 1em
        border-radius: 5px
